.top {

    margin: 0;
    padding: 0;

    &__about-bg {
        background-image: url(./../../img/about_us.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        max-width: 1280px;
        width: 100%;
        height: 450px;
        padding: 136px 0 136px 85px;
        margin-bottom: 167px;
    }

    &__about-heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        margin-bottom: 24px;
    }

    &__about-text {
        font-family: 'Barlow';
        line-height: 26px;
        color: #FEFCF7;
        width: 445px;
    }
}

@media only screen and(max-width: 700px){

    .header{
        margin-bottom: 41px;
    }

    .top{
        
        margin: 0;
        padding: 0;

        &__about-bg {
        background-image: url(./../../img/about-tab.png);
        max-width: 689px;
        width: 100%;
        height: 400px;
        padding: 118px 0 118px 58px;
        }
    
         &__about-heading {
        font-size: 32px;
        line-height: 40px;
        }
    
        &__about-text {
        font-size: 15px;
        line-height: 25px;
        opacity: 0.8;
        width: 398px;
        }
    }
}

@media only screen and (max-width: 600px){

    

    .top{
        
        margin: 0;
        padding: 0;
        margin-top: 50px;

        &__about-bg {
        background-image: url(./../../img/about-mobile.png);
        width: 100%;
        height: 400px;
        margin: 0 auto;
        padding: 111px 24px 87px 24px;
        }
    
         &__about-heading {
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        }
    
        &__about-text {
        font-size: 15px;
        line-height: 25px;
        opacity: 0.8;
        width: 279px;
        margin: 0 auto;
        text-align: center;
        }
    }

}

// ----------------------------------------------------

.commitment {

    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    padding: 0 20px;

}

.our {

		&__commitment {
            display: flex;
		}
}
.commit {

		&__pic {
            margin-right: 125px;
		}

		&__info {
            padding-top: 90px;
		}

		&__heading {
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #333D4B;
            margin-bottom: 32px;
		}

		&__text {
            font-family: 'Barlow';
            line-height: 26px;
            color: #333D4B;
            opacity: 0.8;
            width: 540px;
		}
}

@media only screen and(max-width: 800px){

    .commitment {

        width: 700px;
        margin-top: 120px;
        padding: 0;
        margin-bottom: 120px;
        
    }
    
    .our {
    
            &__commitment {
                display: flex;
            }
    }
    .commit {
    
            &__pic {
                margin-right: 68px;
                width: 281px;
                height: 470px;
            }
    
            &__info {
                padding-top: 8px;
            }
    
            &__heading {
                font-family: 'Fraunces';
                font-weight: 900;
                font-size: 32px;
                line-height: 48px;
                color: #333D4B;
                margin-bottom: 32px;
            }
    
            &__text {
                font-family: 'Barlow';
                font-size: 15px;
                line-height: 25px;
                color: #333D4B;
                opacity: 0.8;
                width: 339px;
            }
    }
}

@media only screen and(max-width: 650px){

    .commitment {

        width: 327px;
        margin-top: 120px;
        padding: 0;
        margin-bottom: 120px;
        
        
    }
    
    .our {
    
            &__commitment {
                display: flex;
                flex-direction: column;
            }
    }
    .commit {
    
            &__pic {
                display: block;
                margin-right: 68px;
                margin-bottom: 48px;
                width: 327px;
                height: 470px;
            }
    
            &__info {
                
            }
    
            &__heading {
                font-size: 32px;
                line-height: 48px;
                text-align: center;
            }
    
            &__text {
                text-align: center;
                width: 327px;
            }
    }

}