.header {
    margin-top: 44px;
    margin-bottom: 45px;
}

.inner {

		&__container {
		}
}

.nav {

		&__bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
		}

		&__logo {
		}

		&__logo-img {
		}

		&__list {
            display: flex;
            gap: 33px;
		}

		&__item {

            transition: all 0.3s ease;

            &:hover{
                transform: scale(1.1)
            }
		}

		&__list-link {
            font-family: 'Barlow';
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.923077px;
            text-transform: uppercase;
            color: #83888F;

            &:hover{
                transform: scale(1.05);
            }

            &:active{
                color: #333D4B;
            }

		}
    
}

.nav {

    &__list-btn {
        display: none;
    }

    &__list-btn-img {
    }

    &__list-x-img {
    }
}


@media only screen and (max-width: 768px) {
    /* Tablet version */

    .header {
        margin-top: 40px;
        margin-bottom: 55px;
        
    }
    
    .nav__bar{
        display: flex;
        align-items: center;

    }
}

@media only screen and (max-width: 600px) {

    .nav{

        &__bar {
            margin: 0;
            padding: 0;
            width: 100%;
		}

        &__list{
            display: none;
        }

        &__list-btn{
            display: block;
            justify-content: space-between;
            background-color: transparent;
            margin: 0;
            padding: 0;
            width: 0;

            &__list-x-img {
                display: none;
            }

            
            &:hover{
                background-color: transparent;
            }
        }
    }
}