.main {

		&__container {
            background-image: url(./../../img/mainpg-img.png);
            height: 600px;
            padding-top: 117px;
            padding-bottom: 117px;
            padding-left: 85px;
            border-radius: 10px;
            background-position: center;
            background-size: cover;
            margin-bottom: 136px;
		}

		&__container-heading {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FEFCF7;
            width: 493px;
            margin-bottom: 32px;

		}

		&__container-text {
            font-family: 'Barlow';
            font-weight: 400;
            line-height: 26px;
            color: #FEFCF7;
            opacity: 0.8;
            width: 445px;
            margin-bottom: 56px;
		}
}

@media only screen and (max-width: 768px) {
    /* Tablet version */

    .main{

        

        &__container-heading{
            font-size: 48px;
            line-height: 48px;
            width: 329px;
        }

        &__{
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 580px){

    .inner__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main{

        &__container{
            background-image: url(./../../img/bg-main-phone.png);
            margin: 0 auto;
            background-position: center;
            background-size: cover;
            padding-left: 24px;
            padding-right: 24px;
        }

        &__container-heading{
            font-size: 40px;
            line-height: 40px;
            width: 279px;
            margin-bottom: 24px;
        }

        &__container-text {
            font-family: 'Barlow';
            font-weight: 400;
            line-height: 25px;
            width: 279px;
            margin-bottom: 56px;
		}
    }

}

// ---------------------------------------------

.container {

    &__middle {
        
    }
}
.collection {

    &__container {
        max-width: 1110px;
        margin: 0 auto;
        margin-bottom: 188px;
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        margin-bottom: 71px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.our {
    
    &__collection {
        padding-top: 80px;
        background-image: url(./../../img/our-collection.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: -45px;
    }
}
.info {

    &__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
        margin-bottom: 24px;
    }

    &__text {
        font-family: 'Barlow';
        line-height: 26px;
        color: #333D4B;
        width: 255px;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    /* Tablet version */

    .main_container{
        margin-bottom: 144px;
    }

    .our__collection{
        padding-top: 80px;
        background-image: url(./../../img/our-collection.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: -45px;
    }

}

@media only screen and (max-width: 1100px){

    

    .collection__list{
        display: inline-block;
        padding-left: 150px;
        align-items: center;
        justify-content: center;
    }

    .collection__item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .info__text {
        width: 282px;
        text-align: center;
    }
}

@media only screen and (max-width: 770px){

    .main_container{
        margin-bottom: 144px;
    }

    .our__collection{
        background-position-y: -5px;
    }

    .collection__list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 400px){

    .collection__item{
        display: flex;
        flex-direction: column;
    }

}

// ---------------------------------------------


.container {

    &__bottom {
        position: relative;
    }

    &__bottom-info {
        background-color: #333D4B;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 577px;
    }
}
.bottom {

    &__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        padding-top: 112px;
        padding-bottom: 32px;
    }

    &__text {
        font-family: 'Barlow';
        line-height: 26px;
        color: #FEFCF7;
        opacity: 0.8;
        width: 540px;
        text-align: center;
        padding-bottom: 86px;
    }

}
.bottom {

    &__card {
        position: relative;
        margin-bottom: 200px;
    }
}
.card {

    &__container {
        max-width: 1110px;
    }

    &__list {
        background: #0E8784;
        border-radius: 8px;
        display: flex;
        width: 350px;
        position: absolute;
        top: -240px;
        left: 85px;
        gap: 30px;
        
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item1 {
        background: #0E8784;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }

    &__item2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img2{
        padding: 83px 142px 67px 136px;
    }

    &__item2{
        border-radius: 10px;
        background: #0E8784;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        padding: 72px 143px 56px 136px;
        
    }

    &__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #FEFCF7;
        text-align: center;
        padding: 0 48px;
        padding-bottom: 24px;

    }

    &__text {
        font-family: 'Barlow';
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        width: 255px;
        padding-bottom: 48px;   
    }
}


.btm {
    
    &__inner-container {
    }
}

.choice {
    border-radius: 10px;
    background-color: #333D4B;
    height: 577px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 350px;
    
    &__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
        margin-bottom: 32px;
    }
    
    &__text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        text-align: center;
        opacity: 0.8;
        width: 540px;
        margin-bottom: 86px;
    }
    
    &__wrapper {
        display: flex;
    }
    
    &__list1 {
        background: #0E8784;
        border-radius: 8px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 72px;
        padding-bottom: 48px;
        margin-right: 15px;
        margin-left: 15px;
    }
    
    &__list-img1{
        margin-left: 90px;
    }

    &__list2 {
        background: #0E8784;
        border-radius: 8px;
        padding-top: 72px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 48px;
        margin-right: 15px;
        margin-left: 15px;
    }
    
    &__list3 {
        background: #0E8784;
        border-radius: 8px;
        padding-top: 72px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 48px;
        margin-right: 15px;
        margin-left: 15px;
    }
    
    &__list-heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;
        margin-bottom: 24px;
        padding-top: 56px;
    }
    
    &__list-text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        width: 255px;
    }
    
}

@media only screen and (max-width: 1200px) {
    /*  Tablet version  */

    .choice{
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 435px;

        &__heading{
            width: 264px;
            font-size: 32px;
            line-height: 48px;
            padding-top: 71px;
        }

        &__text{
            width: 540px;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 70px;
        }

        &__wrapper{
            display: flex;
            flex-direction: column;
        }
  
        &__list1{
            width: 573px;
            padding: 0px;
            margin-bottom: 21px;
        }
        
        &__list-info{
            width: 455px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__list-img1{
            margin-left: 0px;
        }

        &__info-text{
            padding: 0;
            margin: 0;
            
        }
        &__list-heading{
            padding: 0px;
            margin-top: 41px;
            margin-bottom: 16px;
            text-align: start;
        }

        &__list-text{
            width: 344px;
            padding: 0;
            margin-bottom: 41px;
            text-align: start;
        }
    } 
    
}

@media only screen and (max-width: 600px){
    .choice{
        width: 327px;
        padding: 0;
        margin: 0;

        &__heading{
            width: 279px;
            padding: 0;
            margin-top: 64px;
            margin-bottom: 24px;
            padding-left: 24px;
            padding-right: 24px;
            font-size: 28px;
            line-height: 28px;
        }

        &__text{
            width: 279px;
            font-size: 15px;
            line-height: 25px;
            margin: 0 24px 64px 24px;
        }

        &__list1{
            width: 279px;
            
        }

        &__list-info{
            display: flex;
            flex-direction: column;
        }

        &__list-img1{
            margin: 74px 104px 56px 104px;
        }

        &__list-heading{
            width: 255px;
            padding: 0;
            margin-top: 0;
            margin-bottom: 24px;
            text-align: center;
        }

        &__list-text{
            padding: 0;
            margin: 0 auto;
            padding-bottom: 51px;
            width: 212px;
            display: flex;
            text-align: center;
        }
        
    }
}

.step {
    
    &__inner-container {
    }
    
    &__container {
        max-width: 1111px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        margin-bottom: 200px;
    }
    
    &__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin-bottom: 80px;
    }
    
    &__list {
        display: flex;
    }
    
    &__item {
        width: 380px;
    }
    
    &__icon-wrapper {
        margin-bottom: 67px;
        position: relative;
        
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: #FDD6BA;
            z-index: -1;
        }
    }
    
    &__item:last-child &__icon-wrapper::before{
        display: none;
    }
    
    &__icon-circle {
        display: inline-block;
        width: 31px;
        height: 31px;
        background: #FEFCF7;
        border: 2px solid #0E8784;
        border-radius: 50%;
    }
    
    &__info-wrapper {
        padding-right: 95px;
    }
    
    &__number {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
        margin-bottom: 38px;
    }
    
    &__item-heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
        margin-bottom: 42px;
    }
    
    &__item-text {
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        margin-bottom: 64px;
    }
    
    &__link {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        color: #FEFCF7;
        background: #0E8784;
        border-radius: 6px;
        padding: 16px 31px;
    }
}

@media only screen and (max-width: 1200px){

    .step{

        margin: 0;
        padding: 0;

        &__{
            margin-bottom: 42px;
        }

        &__item-heading{
            width: 223px;
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 38px; 
        }

        &__item-text{
            font-size: 15px;
            line-height: 25px;
        }
    }  
    
    .step{

        &__list{
            flex-wrap: wrap;
        }

        &__item:last-child > &__icon-wrapper {
            display: none;
        }

        &__item:nth-child(even) > &__icon-wrapper::before{
            display: none;
        }
    }
}



@media only screen and (max-width: 856px){

    .step{

        &__icon-wrapper{
            display: none;
        }
    }

}

@media only screen and (max-width: 600px){

    .choice{
        margin-bottom: 1017px;
    }

    .step{

       &__inner-container{
        display: flex;
        flex-direction: column;
        align-items: center;
       }

       &__container{
        
       }
    }

}