.plan {
    margin-bottom: 164px;
    
    &__heading {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
        margin-bottom: 32px;
    }
    
    &__text {
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        width: 445px;
    }
    
    .create {
        
        &__plan {
            background-image: url(./../img/plan__coffee.png);
            object-fit: contain;
            height: 450px;
            padding-top: 134px;
            padding-left: 85px;
            border-radius: 10px;
        }
        
    }
}

@media only screen and (max-width: 700px){

    .plan {
        margin-bottom: 119px;

        &__heading {
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 48px;
            line-height: 48px;
            color: #FEFCF7;
            margin-bottom: 24px;
        }
        
        &__text {
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            width: 398px;
        }
        
        .create {
            
            &__plan {
                background-image: url(./../../img/plan__coffee-tab.png);
                object-fit: contain;
                height: 400px;
                padding-top: 127px;
                padding-left: 58px;
                border-radius: 10px;
            }
            
        }
    }

};


@media only screen and (max-width: 600px){

    .plan {
        margin-bottom: 120px;
        text-align: center;
        
        &__heading {
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 40px;
            line-height: 40px;
            color: #FEFCF7;
            margin-bottom: 22px;
        }
        
        &__text {
            font-family: 'Barlow';
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            width: 279px;
            margin: 0 auto;
        }
        
        .create {
            
            &__plan {
                background-image: url(./../../img/plan__coffee-mobile.png);
                background-position: center;
                object-fit: contain;
                background-size: cover;
                height: 400px;
                padding-top: 127px;
                padding-left: 24px;
                border-radius: 10px;
                margin-bottom: 120px;
            }
            
        }
    }

};



// step

.plan  { 
    
    &__step {
        background-color: #333D4B;
        border-radius: 10px;
        width: 1280px;
        padding-top: 100px;
        padding-bottom: 107px;
        margin-bottom: 160px;
    }
    
    &__step-container {
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        display: flex; 
    }
    
    &__step-list {
        display: flex;
    }
    
    &__step-item {
        width: 380px;
        padding-right: 95px;
        padding-top: 98px;
        position: relative;
        
        &::before{
            content: '';
            background-color: #333D4B;
            display: inline-block;
            width: 31px;
            height: 31px;
            border: 2px solid #0E8784;
            border-radius: 50%;
            position: absolute;
            top: 0;
            z-index: 1;
        }
        
        &::after{
            content: '';
            display: inline-block;
            background-color: #FDD6BA;
            width: 100%;
            height: 2px;
            position: absolute;
            top: 15.5px;
        }
        
        &:last-child::after{
            display: none;
        }
    }
    
    &__step-num {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
        margin-bottom: 38px;
    }
    
    &__step-heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #FEFCF7;
        width: 255px;
        margin-bottom: 42px;
    }
    
    &__step-text {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
    }
}

@media only screen and (max-width: 800px){

    .plan  { 
    
        &__step {
            background-color: #333D4B;
            border-radius: 10px;
            width: 768px;
            padding-top: 97px;
            padding-bottom: 97px;
            margin-bottom: 144px;
        }
        
        &__step-container {
            max-width: 768px;
            margin: 0;
            padding: 0 30px;
            display: flex; 
        }
        
        &__step-list {
            display: flex;
        }
        
        &__step-item {
            width: 243px;
            padding-right: 95px;
            padding-top: 98px;
            position: relative;
            
            &::before{
                content: '';
                background-color: #333D4B;
                display: inline-block;
                width: 31px;
                height: 31px;
                border: 2px solid #0E8784;
                border-radius: 50%;
                position: absolute;
                top: 0;
                z-index: 1;
            }
            
            &::after{
                content: '';
                display: inline-block;
                background-color: #FDD6BA;
                width: 100%;
                height: 2px;
                position: absolute;
                top: 15.5px;
            }
            
            &:last-child::after{
                display: none;
            }
        }
        
        &__step-num {
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FDD6BA;
            margin-bottom: 42px;
        }
        
        &__step-heading {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;
            color: #FEFCF7;
            width: 223px;
            margin-bottom: 38px;
        }
        
        &__step-text {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            width: 223px;
        }
    }    

}

@media only screen and (max-width: 700px){

    .plan  { 
    
        &__step {
            background-color: #333D4B;
            border-radius: 10px;
            width: 768px;
            padding-top: 97px;
            padding-bottom: 97px;
            margin-bottom: 144px;
        }
        
        &__step-container {
            max-width: 768px;
            margin: 0;
            padding: 0 30px;
            display: flex; 
        }
        
        &__step-list {
            display: flex;
            flex-wrap: wrap;
        }
        
        &__step-item {
            width: 243px;
            padding-right: 40px;
            padding-top: 98px;
            position: relative;
            
            &::before{
                content: '';
                background-color: #333D4B;
                display: inline-block;
                width: 31px;
                height: 31px;
                border: 2px solid #0E8784;
                border-radius: 50%;
                position: absolute;
                top: 0;
                z-index: 1;
            }
            
            &::after{
                content: '';
                display: inline-block;
                background-color: #FDD6BA;
                width: 100%;
                height: 2px;
                position: absolute;
                top: 15.5px;
            }
            
            &:last-child::after{
                display: none;
            }

            &:nth-child(even)::after{
                display: none;
            }

            &:last-child::before{
                display: none;
            }
        }
        
        &__step-num {
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FDD6BA;
            margin-bottom: 42px;
        }
        
        &__step-heading {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;
            color: #FEFCF7;
            width: 223px;
            margin-bottom: 38px;
        }
        
        &__step-text {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            width: 223px;
        }
    }    

}

@media only screen and (max-width: 500px){

    .plan  { 
    
        &__step {
            background-color: #333D4B;
            border-radius: 10px;
            width: 375px;
            padding-top: 50px;
            padding-bottom: 97px;
            margin-bottom: 160px;
        }
        
        &__step-container {
            padding: 0 30px;
            display: flex; 
        }
        
        &__step-list {
            display: flex;
            flex-wrap: wrap;
            text-align: center;

        }
        
        &__step-item {
            padding-right: 24px;
            padding-top: 64px;
            position: relative;
            margin: 0 auto;
            
            &::before{
                content: '';
                background-color: #333D4B;
                display: inline-block;
                width: 31px;
                height: 31px;
                border: 2px solid #0E8784;
                border-radius: 50%;
                position: absolute;
                top: 0;
                z-index: 1;
            }
            
            &::after{
                content: '';
                display: inline-block;
                background-color: #FDD6BA;
                width: 100%;
                height: 2px;
                position: absolute;
                top: 15.5px;
            }
            
            &:last-child::after{
                display: none;
            }

            &:nth-child(odd)::after{
                display: none;
            }

            &:nth-child(even)::after{
                display: none;
            }

            &:first-child::before{
                display: none;
            }

            &:last-child::before{
                display: none;
            }

            &:nth-child(n+1)::before{
                display: none;
            }
        }
        
        &__step-num {
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            color: #FDD6BA;
            margin-bottom: 42px;
        }
        
        &__step-heading {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;
            color: #FEFCF7;
            width: 223px;
            margin-bottom: 38px;
        }
        
        &__step-text {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #FEFCF7;
            width: 223px;
        }
    }    

}


// ------------------------------------------------------
.plan {

    &__choose {
    }

    &__choose-container {
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        display: flex;
    }
}


.left {

    &__side {
        width: 255px;
        max-width: 100%;
        margin-right: 125px;
    }

    &__side-list {
        position: sticky;
        top: 20px;
    }

    &__side-item {
        width: 255px;

        &:last-child{
            padding: 0;
        }
    }

    &__side-list-link {
        display: flex;
        align-items: center;
        opacity: 0.4;
        border-bottom: 1px solid rgba(131, 136, 143, 0.5);
        padding: 24px 0;

        &:hover{
            opacity: 0.6;
        }

        &:active{
            opacity: 1;
            color: #333D4B;
        }

    }
}

.list {

    &__num {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
        margin-right: 28.5px;
    }

    &__text {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }
}

.num__active{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #0E8784;
}

.right {

    &__side {
        max-width: 730px;
        width: 100%;
    }
}

.plan {

    &__r-list {
    }

    &__r-item {
        margin-bottom: 88px;
    }

    &__r-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 56px;
    }

    &__r-heading {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #83888F;

    }

    &__r-btn {
        outline: none;
        border: none;
        background-color: #FFF;
        cursor: pointer;
    }

    &__r-img {
    }

    &__form {
        display: flex;
        justify-content: space-between;
    }

    &__label {
      display: block;
      max-width: 228px;
      width: 100%;
      margin-right: 23px;

        &:last-child{
            margin-right: 0;
        }

    }

    &__input {
        display: none;

        &:checked + &-span {
            background-color: #0E8784;
            color: #FEFCF7;
        }

        .plan__span-heading{
            color: #FFF;
        }

    }

    &__input-span {
       display: inline-block;
       border-radius: 8px;
       background-color: #F4F1EB;
       color: #333D4B;
       justify-content: space-between;

       &:hover{
        background-color: #FDD6BA;
        color: #333D4B;
       }
    }

    &__span-heading {
        display: block;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: inherit;
        padding-top: 32px;
        padding-left: 28px;
        margin-bottom: 24px;
    }

    &__span-text {
        display: block;
        color: inherit;
        padding-top: 24px;
        padding-left: 28px;
        padding-right: 28px;
        margin-bottom: 84px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
}

.order {



    &__summary {
        margin-bottom: 168px;
        
    }
    
    &__creator-info {
        background-color: #333D4B;
        border-radius: 10px;
        padding: 27px 64px;
        margin-bottom: 40px;
    }

    &__heading {
        font-family: 'Barlow';
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.5;
        margin-bottom: 8px;
    }

    &__text {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;
    }

    &__color {
        color: #0E8784;
        font-family: 'Fraunces';
        font-weight: 900;
    }
}
.plan {

    &__creator-btn {
        display: flex;
        float: right;
    }
}

@media only screen and (max-width: 1100px){

    .left__side{
        display: none;
    }

}

@media only screen and (max-width: 800px){

    .right {

        &__side {
            max-width: 700px;
            width: 100%;
        }
    }
    
    .plan {
    
        &__choose-container{
            padding: 0;
        }

        &__r-list {
        }
    
        &__r-item {
            margin-bottom: 100px;
        }
    
        &__r-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 56px;
        }
    
        &__r-heading {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #83888F;
    
        }
    
        &__r-btn {
            outline: none;
            border: none;
            background-color: #FFF;
            cursor: pointer;
            width: 100px;
        }
    
        &__r-img {
        }
    
        &__form {
            display: flex;
            justify-content: space-between;
        }
    
        &__label {
          display: block;
          max-width: 228px;
          width: 100%;
          margin-right: 23px;
    
            &:last-child{
                margin-right: 0;
            }
    
        }
    
        &__input {
            display: none;
    
            &:checked + &-span {
                background-color: #0E8784;
                color: #FEFCF7;
            }
    
            .plan__span-heading{
                color: #FFF;
            }
    
        }
    
        &__input-span {
           display: inline-block;
           border-radius: 8px;
           background-color: #F4F1EB;
           color: #333D4B;
           justify-content: space-between;
    
           &:hover{
            background-color: #FDD6BA;
            color: #333D4B;
           }
        }
    
        &__span-heading {
            display: block;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            color: inherit;
            padding-top: 32px;
            padding-left: 28px;
            margin-bottom: 24px;
        }
    
        &__span-text {
            font-size: 16px;
            line-height: 26px;
            display: block;
            color: inherit;
            padding-top: 24px;
            padding-left: 28px;
            margin-bottom: 84px;
        }
    }

    .plan {

        &__creator-btn {
            position: relative;
            right: 240px;
        }
    }

}

.order {



    &__summary {
        margin-bottom: 168px;
        position: relative;
    }
    
    &__creator-info {
        background-color: #333D4B;
        border-radius: 10px;
        padding: 27px 64px;
        margin-bottom: 40px;
    }

    &__heading {
        font-family: 'Barlow';
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.5;
        margin-bottom: 8px;
    }

    &__text {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;
    }

    &__color {
        color: #0E8784;
        font-family: 'Fraunces';
        font-weight: 900;
    }
}

@media only screen and (max-width: 600px){

    .right {

        margin: 0;
        padding: 0;

		&__side {
            max-width: 375px;
            width: 100%;
		}
}
.plan {
        margin: 0;
        padding: 0;

		&__r-list {
		}

		&__r-item {
		}

		&__r-top {
		}

		&__r-heading {
            margin: 0;
            padding: 0;
            font-size: 24px;
            line-height: 28px;
            width: 240px;
		}

		&__r-btn {
		}

		&__r-img {
		}

		&__form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
		}

		&__label {
            margin-bottom: 16px;
            padding: 0;
		}

		&__input {
		}

		&__input-span {
            width: 328px;
            padding: 0;

		}

		&__span-heading {
            margin: 0;
            margin-bottom: 8px;
            padding-top: 24px;
            padding-left: 25px;
		}

		&__span-text {
            margin: 0;
            padding: 0;
            padding-left: 25px;
            margin-bottom: 24px;
            width: 278px;
		}

		&__creator-btn {
            position: relative;
            left: -68px;
		}
}
.order {

		&__summary {
            
		}

		&__creator-info {
            width: 328px;
            padding: 0;
            margin: 0;
		}

		&__heading {
            font-size: 16px;
            line-height: 26px;
            padding-top: 32px;
            padding-left: 25px;
            margin-bottom: 8px;
		}

		&__text {
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 32px;
            margin-bottom: 56px;
		}

		&__color {
            
		}
}

}